include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include parlo *.css
recursive-include parlo *.csv
recursive-include parlo *.html
recursive-include parlo *.ico
recursive-include parlo *.js
recursive-include parlo *.json
recursive-include parlo *.md
recursive-include parlo *.png
recursive-include parlo *.py
recursive-include parlo *.svg
recursive-include parlo *.txt
recursive-exclude parlo *.pyc