@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, body>div#root {
        @apply h-full
    }
    h1 {
        @apply text-4xl md:text-5xl;
    }
    h2 {
        @apply text-2xl md:text-3xl;
    }
    h3 {
        @apply text-lg md:text-xl;
    }
    h4 {
        @apply text-base md:text-lg;
    }
    h5, p {
        @apply text-sm md:text-base;
    }
    h6 {
        @apply text-xs md:text-sm;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply leading-normal text-slate-800 m-0 font-semibold;
    }
    p { @apply m-0 }
}

@layer components {
    .link{
        @apply no-underline text-white text-sm
    }
    .bg-card {
        @apply bg-white shadow-md p-2 mx-auto rounded-md md:p-3;
    }
    .scroll-box { @apply max-h-[300px] overflow-y-auto }
    .scrollbar::-webkit-scrollbar {
        @apply w-2 h-2
    }
    .scrollbar::-webkit-scrollbar-track {
        @apply rounded-full bg-slate-100
    }
    .scrollbar::-webkit-scrollbar-thumb {
        @apply rounded-full bg-slate-200
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-300
    }
    .animation {
        @apply relative text-white pt-5 bg-gradient-to-r from-cyan-500 to-blue-500
    }
        /* Animation */
        .parallax>use {
            animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
        }
    
        .parallax>use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }
    
        .parallax>use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }
    
        .parallax>use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }
    
        .parallax>use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }
    
        @keyframes move-forever {
            0% {
                transform: translate3d(-90px, 0, 0);
            }
    
            100% {
                transform: translate3d(85px, 0, 0);
            }
        }
        .mobile_overlay .ant-modal-content{
            @apply rounded-none lg:rounded-lg
        }
       /**
 * ==============================================
 * Dot Falling
 * ==============================================
 */
.dot-falling {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #1e88e5;
    color: #1e88e5;
    box-shadow: 9999px 0 0 0 #1e88e5;
    animation: dot-falling 1s infinite linear;
    animation-delay: 0.1s;
  }
  .dot-falling::before, .dot-falling::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-falling::before {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #1e88e5;
    color: #1e88e5;
    animation: dot-falling-before 1s infinite linear;
    animation-delay: 0s;
  }
  .dot-falling::after {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #1e88e5;
    color: #1e88e5;
    animation: dot-falling-after 1s infinite linear;
    animation-delay: 0.2s;
  }
  
  @keyframes dot-falling {
    0% {
      box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
    }
    25%, 50%, 75% {
      box-shadow: 9999px 0 0 0 #1e88e5;
    }
    100% {
      box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
    }
  }
  @keyframes dot-falling-before {
    0% {
      box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
    }
    25%, 50%, 75% {
      box-shadow: 9984px 0 0 0 #1e88e5;
    }
    100% {
      box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
    }
  }
  @keyframes dot-falling-after {
    0% {
      box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
    }
    25%, 50%, 75% {
      box-shadow: 10014px 0 0 0 #1e88e5;
    }
    100% {
      box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
    }
  }
}

.ant-table-wrapper > table {
    border-radius: 0;
}
.ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:first-child {
    border-start-start-radius: 0
}
.ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:last-child {
    border-start-end-radius: 0
}
.ant-table-wrapper table .ant-table-thead tr:nth-child(odd) {
    background-color: #fefefc;
}
.ant-table-wrapper .ant-table-tbody>tr.ant-table-row:hover>th,
.ant-table-wrapper .ant-table-tbody>tr.ant-table-row:hover>td {
    background-color: #f3f7f9;
}
.ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr>td {
    font-size: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr.ant-table-expanded-row>td {
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.ant-table-wrapper .ant-table.ant-table-small .ant-table-thead>tr>th {
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.filter-drop-down {
    padding: 0 10px 5px;
    display: block;
}

.filter-drop-down .ant-checkbox-group-item,
.filter-drop-down .ant-radio-wrapper {
    display: block;
    margin-right: 8px;
    padding: 7px 0px;
}

.filter-drop-down .ant-checkbox-group-item .ant-checkbox-inner,
.filter-drop-down .ant-radio-wrapper .ant-checkbox-inner {
    display: inline-block;
}
.MuiFormLabel-asterisk {
    color: red;
}
.MuiSpeedDial-root { z-index: 1000 !important;}

.no-separator-antd tbody > tr > td {
    border-bottom: none !important;
}
